.heading-to-alias-ignoredHeading {
    font-weight: var(--font-ui-small) !important;
    margin: 4px !important;
    padding: 6px !important;
    border-style: none !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    height: 24px !important;
}

.heading-to-alias-ignoredHeading *> button {
    padding: 2px 4px 2px 4px;
}

.heading-to-alias-ignoredHeading *> svg {
    height: 16px !important;
    width: 16px !important;
}

.heading-to-alias-ignoredHeadingsContainer {
    display: grid;
}